<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://dockertestcar.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/6a1b31ea-1f57-49e8-bd6c-782e0719e547/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.ContainerRegistry/registries/GrpcCurrencyConverterService</ContainerResourceId>
    <ContainerResourceName>GrpcCurrencyConverterService</ContainerResourceName>
    <Subscription>Azure für Bildungseinrichtungen</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>grpccurrencyconverterservice.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6a1b31ea-1f57-49e8-bd6c-782e0719e547/resourceGroups/CarRental/providers/Microsoft.Web/sites/DockerTestCar</ResourceId>
    <ResourceGroup>CarRental</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dockertestcar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cec6cabf-620e-45ad-89ec-2ef0ef90d5bb</ProjectGuid>
  </PropertyGroup>
</Project>